In [38]:
import pandas as pd
import requests as req

In [39]:
df = pd.read_excel('/home/triviiz/Documents/Cours/US01/2019-US01-Data-Science-master/Data-sheet-STUDENTS.xlsx', header = 2, index_col = 0)

In [40]:
for index, name in df["Country (according to CN Gov):"].items() :
    print(name)
    #print(df.loc[index])
    break

Afghanistan

In [41]:
"""
for index, name in df["Country (according to CN Gov):"].items() :
    r = req.get("https://restcountries.eu/rest/v2/name/" + name, auth = ('user', 'pass'))
    if r.status_code == 200 :
        alpha3 = r.json()[0]["alpha3Code"]
        print(name + " -> " + alpha3)
    else :
        print (name + " -> Error " + str(r.status_code) + " : " + r.json()["message"])
"""

'\nfor index, name in df["Country (according to CN Gov):"].items() :\n    r = req.get("https://restcountries.eu/rest/v2/name/" + name, auth = (\'user\', \'pass\'))\n    if r.status_code == 200 :\n        alpha3 = r.json()[0]["alpha3Code"]\n        print(name + " -> " + alpha3)\n    else :\n        print (name + " -> Error " + str(r.status_code) + " : " + r.json()["message"])\n'

In [42]:
isoCodes = {}

In [69]:
def getIsocodes (df) :
    thingsGotten = 0

    for index, name in df["Country (according to CN Gov):"].items() :
        #print("Trying " + name)
        if name in isoCodes :
            #print (name + " already in Table > Continue")
            continue

        thingsGotten += 1

        requestedName = name
        if " (not bri)" in requestedName.lower() :
            requestedName = requestedName[:-10]
            #print("New name = " + name)

        if requestedName == "Thailiand" :
            requestedName = "Thailand"

        if requestedName == "The United Arab Emirates" :
            requestedName = "United Arab Emirates"

        r = req.get("https://restcountries.eu/rest/v2/name/" + requestedName, auth = ('user', 'pass'))
        if r.status_code == 200 :
            alpha3 = r.json()[0]["alpha3Code"]
            print(name + " -> " + alpha3)
            isoCodes[name] = alpha3
        else :
            print (name + " -> Error " + str(r.status_code) + " : " + r.json()["message"])

    if thingsGotten == 0 :
        print("Table already complete")
    else :
        print(str(thingsGotten) + " things added to table")

In [62]:
getIsocodes(df)

Table already complete

In [65]:
df["isocode"] = df["Country (according to CN Gov):"].apply(lambda x : isoCodes[x])

In [68]:
df[["isocode", "Country (according to CN Gov):"]]

   isocode      Country (according to CN Gov):
1      AFG                         Afghanistan
2      ALB                             Albania
3      ARM                             Armenia
4      AZE                          Azerbaijan
5      BHR                             Bahrain
..     ...                                 ...
64     USA  United States of America (Not BRI)
65     UKR                             Ukraine
66     UZB                          Uzbekistan
67     VNM                             Vietnam
68     YEM                               Yemen

[68 rows x 2 columns]

In [70]:
indicators = {
}

In [78]:
def getIndicator (df, indicator) :
    thingsGotten = 0

    for index, (name, isocode) in df[["Country (according to CN Gov):", "isocode"]].items() :
        #print("Trying " + name)
        if name in indicators :
            #print (name + " already in Table > Continue")
            continue

        thingsGotten += 1

        url = "http://api.worldbank.org/v2/country/" + isocode + "/indicator/" + indicator
        
        r = req.get(url, auth = ('user', 'pass'))
        if r.status_code == 200 :
            for query in r.json()[1] :
                if query["value"] != null :
                    lastData = [query["date"], query["value"]]
            print(name + " -> " + indicator[1] + "(" + indicator[0] + ")")
            indicators[name] = lastData
        else :
            print (name + " -> Error " + str(r.status_code) + " : " + r.json()["message"])
        break

    if thingsGotten == 0 :
        print("Table already complete")
    else :
        print(str(thingsGotten) + " things added to table")

In [79]:
getIndicator(df, "GC.TAX.IMPT.ZS")

ValueError: too many values to unpack (expected 2)

In [74]:
df[["Country (according to CN Gov):", "isocode"]]

        Country (according to CN Gov): isocode
1                          Afghanistan     AFG
2                              Albania     ALB
3                              Armenia     ARM
4                           Azerbaijan     AZE
5                              Bahrain     BHR
..                                 ...     ...
64  United States of America (Not BRI)     USA
65                             Ukraine     UKR
66                          Uzbekistan     UZB
67                             Vietnam     VNM
68                               Yemen     YEM

[68 rows x 2 columns]